<!doctype html>
{# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ #}
<!--[if lt IE 8]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />

		{# Use the .htaccess and remove these lines to avoid edge case issues. More info: h5bp.com/b/378 #}
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		{# Prefetch your CDN URL: http://j.mp/bplatednsfetch #}
		<link rel="dns-prefetch" href="{{ STATIC_URL }}" />

		{# Set STATIC_URL parameter #}
		<link rel="static-url" href="{{ STATIC_URL }}" />

		<title>{% block title %}Cypher{% endblock title %}</title>

		<meta name="description" content="Examples for Cypher jquery plugin." />
		<meta name="author" content="James Deagle" />

		{# Mobile viewport optimized: j.mp/bplateviewport #}
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{# CSS: implied media="all" #}
		<link rel="stylesheet" id="caboose" href="{{ STATIC_URL }}css/style.css" />


	</head>
	<body class="{% block page_class %}page{% endblock page_class %}">
		<div id="container">
			<header>
			</header>
			<div id="main" role="main">
				{% block content %}
				{% endblock content %}
			</div>
			<footer>

			</footer>
		</div>

		<script src="{{STATIC_URL}}js/libs/require.js"></script>

		<script>
			require.config({
				baseUrl : "{{STATIC_URL}}js",
				paths : {
					"jquery" : "libs/jquery",
					"cypher" : "libs/plugins/jquery/jquery.cypher"
				}
			});


			require(["jquery", "cypher"], function($) {
			    //the jquery.alpha.js and jquery.beta.js plugins have been loaded.
			    $(function() {
			    	$(".test").cypher('decode', {scheme: "offset", animate: "random"});

					$(".guess").cypher('decode', {scheme: "guess"});
					$(".offset").cypher('decode', {scheme: "offset"});
					$(".offset-right").cypher('decode', {scheme: "offset", animate: "rightToLeft"});
					$(".offset-center-out").cypher('decode', {scheme: "offset", animate: "centerOut"});
					$(".offset-center-in").cypher('decode', {scheme: "offset", animate: "centerIn"});
					$(".offset-random").cypher('decode', {scheme: "offset", animate: "random"});
					//$(".timed").cypher('decode', {scheme: "timed", duration:2000});
					$(".delayed").cypher('decode', {delay: 2000});
					$(".cycle").cypher('decode', {delay: 2000, cycle: true});

					$(".encode").cypher('encode', {scheme: "offset", animate: "random"});

					$(".promise").cypher('encode', {scheme: "offset", animate: "random"}).done(function () {
							console.log("promise - done encoding!");
					});

					$(".chain").cypher('encode', {scheme: "offset", animate: "random"}).done(function () {
						console.log("chain - done encoding!");
						var endText = "This is my new message";
						$(".chain").cypher('decode', {
							endText: endText,
							scheme: "offset",
							animate: "random"
						});
					});
				});
			});
		</script>
	</body>
</html>
