{% extends "base.html" %}

{% block page_class %}home{% endblock page_class %}

{% block content %}
<h1>This is CYPHER</h1>
<p>Its a flexible jquery pluggin for cycling through bodies of text.</p>

<a href="./demo.html">demo</a>
<a href="http://github.com/jdeagle/cypher" target="_blank">download</a>


{% endblock %}


{% block js %}
require(["jquery", "cypher"], function($) {

	var bodyCopy = $("p").text();

	$("h1").cypher('decode', {scheme: "offset"});
	$("p").cypher('decode', {scheme: "offset", animate: "centerOut"}).done(function() {
		pause();
	});

	var pause = function() {
		console.log("pause");
		setTimeout(function () {
			console.log("cycle");
			cycle();
		}, 2000);
	}

	var cycle = function () {
		$("p").cypher('encode', {scheme: "offset", animate: "random"}).done(function () {
			console.log("chain - done encoding!");
			var endText = bodyCopy; //"This is my new message";
			$("p").cypher('decode', {
				endText: endText,
				scheme: "offset",
				animate: "random"
			}).done(pause);
		});
	}
});
{% endblock %}