<div id="chrome-frame" class="hidden">
	<div class="cf-wrap">
		<div class="cf-content-wrap">
			<h1>You Deserve an Upgrade</h1>

			<div class="content">
				<p>To optimally view the <strong>cypher</strong> site with Internet Explorer, we recommend that you download the Chrome Frame Plugin. It&rsquo;s fast and easy to install.</p>

				<div class="callout">
					<h2>Install Chrome Frame?</h2>
					<a id="cf-approve" href="//www.google.com/chromeframe/eula.html?user=true" target="_blank">Yes, Install</a>
					<a id="cf-decline" href="#no">No Thanks</a>

					<div class="choices">
						<h3>You can also view our site with the latest version of&hellip;</h3>

						<ul id="browsers">
							<li><a class="chrome" href="//google.com/chrome" target="_blank">Chrome</a></li>
							<li><a class="safari" href="//apple.com/safari" target="_blank">Safari</a></li>
							<li><a class="firefox" href="//getfirefox.com" target="_blank">Firefox</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
